
:host {
    display: block;
}

/* Full-width nav bar */
.nav {
    background-color: #607BBF;
    height: 64px;
    font-family: 'Merriweather',sans-serif;
    /* height: 64px; */
}

/* Centered inner container */
.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
    height: 100%;
}

.nav-title h1 {
    margin: 0px;
    font-size: 2 rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    color: white;

    margin: 0;
    padding: 0;
    cursor: pointer;
}