
:host {
    display: block;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #607B8F;

    height: 64px;
    padding: 0px 24px;
}

.nav-title h1 {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    color: white;

    margin: 0;
    padding: 0;
}