
.table-container {
    display: flex;
    justify-content: center;
}

.table-inner {
    max-width: 1200px;
    width: 70%;
    padding: 0 24px;
}

.file-table {
    font-family: 'Mirriweather', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.file-table th {
    text-align: left;
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-weight: 400;
}


