.lib-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    padding: 10px;
    margin: 40px 200px 0 200px;
    height: 600px;
}

.lib-container .lib-title {
    font-size: 100px;
    font-weight: bold;
    
}

.lib-button {
    display: flex;
    justify-content: center;
    align-items: center;
}