/* .lib-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    padding: 10px;
    margin: 40px 200px 0 200px;
    height: 600px;
} */

.lib-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 24px;
    margin: 40px 200px 0 200px;
    min-height: 600px;
}


.lib-title {
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    background-color: #A1BC98;
}

.lib-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lib-actions {
    width: 600px;
    border: 4px dotted black;
}

.file {
    opacity: 0;
    padding: 5rem;
    width: auto;
    height: 5rem;
}

